QScrollArea
{
    border:none;
    border-top:1px solid rgb(230,230,230);
    border-bottom:1px solid rgb(230,230,230);
}
/*#ChatContentMsg
{
    border:none;
    border-left:1px solid rgb(230,230,230);
    background-color:rgb(245,245,245);
}*/
